# Java/Maven
target/
*.class

# Cypress/Node
node_modules/
dist/

# Reporting/output
allure-results/
allure-report/
reports/*
!reports/.gitignore
test-data/runtime/*.json
test-data/runtime/*.log
test-data/runtime/*
!test-data/runtime/README.md

# Cypress workspace outputs
cypress-ui/node_modules/
cypress-ui/cypress/videos/
cypress-ui/cypress/screenshots/
cypress-ui/allure-results/
cypress-ui/allure-report/
cypress-ui/.nyc_output/

# macOS
.DS_Store

# IntelliJ
.idea/
